body{
  display: flex;
  justify-content: center;
  background-color: #fecea8;
  padding-top: 7px;
  padding-bottom: 7px;
}
.container{
  width: 560px;
  box-sizing: border-box;

}

img{
  width: 250px;
  height: 250px;
  border-radius: 30px;
}

.ust-kisim{
  text-align: center;
  background-color: #2a363b;
  box-sizing: border-box;
  background-color: #e84a5f;
  font-size:2.5rem;
  padding: 10px;
  color:#ffffff;
  border-radius: 30px 30px 0 0 ;
}

.alt-kisim{
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #2a363b;
  box-sizing: border-box;
  border-radius: 0 0 30px 30px ;

}
.dortlu-kutu{
  width: 540px;
}
.servis-kutusu{
  width: 250px;
  height: 250px;
  border-radius: 30px 30px 30px 30px;
  box-sizing: border-box;
  margin: 10px;
  background-color: #ddd;
  float:left;
}
