.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0rem 1rem;
}
.arkaplan-mavi{
  background-color: #073b4c;
}
.ust-kisim-bosluk{
  padding: 2% 5%;
}
.nav-radius{
  border-radius: 1rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.2rem;
  font-weight: bold;
}
.ust-alt-45px-bosluk{
  padding: 45px 0;
}
.slogan{
  font-family: 'Ubuntu';
  font-size:2rem;
  line-height:1.5;
  margin-bottom: 10%;
}
.fas{
  color: #ffd166;
  margin-bottom: %5;
}
.h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.p{
  margin-top: 0;
  margin-bottom: 1rem;
}
/* ekran minimum 768px ise */
@media (min-width: 768px) {
  .resim{
    width: 50%;
    transform: rotate(25deg);
  }
}
/* ekran maximum 767px ise */
/* bizim 767px'den küçük cihazlar için eklediğimiz kod*/
@media (max-width: 767px) {
  .resim{
    margin-top:30px;
    width: 50%;
    transform: rotate(0deg);
  }
  .indirme-linkleri{
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  /*sagdan soldan padding */
  .r-l-fluid-padding{
    padding: 3% 15%;
  }
  }
  @@media (max-width: 991px) {
    .r-l-fluid-padding{
      padding: 3% 15%;
    }
  }
  @media (min-width: 1200px) {
    /*sagdan soldan padding */
    .r-l-fluid-padding{
      padding: 3% 15%;
    }
    }
