@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
body {
  margin : 0;
  font-family: 'Ubuntu', sans-serif;
}
h1{
  border-left: 10px solid red;
  padding-left: 10px;
  background-color: #ffffff80;
  font-family: 'Grandstander', cursive;
  text-align: left;
}

.sabit{
  position: fixed;
  right: 10px;
  right: 10px;
}
.linkler a {
  font-size: 1.1rem;
  text-decoration: none;
  padding: 5px;
  border: 2px solid #06b7d8;
  border-radius: 5px;
  background-color: white;
  color: #06b7d8;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  margin-left: 10px;
}
.linkler a:hover {
  background-color: #1d3461;
  border: 2px solid #1d3461;
  color: white;
}
.logo {
  display: inline-block;
  color: #1F6F8B;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 2.2rem;
  font-family: 'Marck Script', cursive;
}
.linkler {
  float: right;
  height: 75px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-fluid {
  text-align: left;
  background-color: #71c9ce;
  color: white;
  font-size: 2rem;
  padding-left: 100px;
  padding-right: 100px;
  position: sticky;
  top: 0;
}
.arkaplan-ustkisim {
  background-color: #f9f7f7;
}
.sol-sag-padding {
  padding-left: 100px;
  padding-right: 100px;
}
.container {
  background-color: #cbf1f5;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.profil-resmi {
  width: 150px;
  height: 150px;
  border-radius: 0 40px 40px 0;
  border: 2px dashed;
}
.hakkimda {
  border: solid;
  border-radius: 20px;
  padding: 2%;
  background-color: #cffffe;
}
.hakkimda-yazi {
  padding-left: 2rem;
}
.hobilerim {
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  /*margin: 2% 0; */
  border: 3px dashed red;
  padding: 2%;
  background-color: #f9f7d9;
}
.hobilerim-yazi {
  padding-right: 2rem;
}
.hobi-resmi {
  border-radius: 40px 0 0 40px;
  border: 2px dashed;
  width: 150px;
  height: 150px;
}
.bildigim-diller {
  border-radius: 20px;
  border: 3px solid;
  padding: 2%;
  background-color: #fce2ce;
}
.bildigim-diller-yazi {
  padding-left: 2rem;
}
.bildigim-diller-resmi {
  border-radius: 0 40px 40px 0;
  border: 2px dashed;
  width: 150px;
  height: 150px;
}
/* En Alt Kısım */
.container-alt{
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}
.footer-arkaplan{
  background-color: #232F3E;
}
.menu{
  width:25%;
  padding: 15px;
}
.baslik{
  color: #ffffff;
  font-weight: 700;
}
.menu ul {
  /* dededen gelen paddingi reddediyoruz. */
  padding: 0;
}
.menu ul li {
  list-style-type: none;
  padding-top:3px;
  padding-bottom:3px;
}
.menu ul li a {
  color : #dddddd;
  text-decoration: none; /* altı çizgili olmasın */
}
.menu ul li a:hover{
  text-decoration: underline; /* altını çizdik */
}
.ustegeridon{
  background-color: #485769;
  padding: 10px;
  color:#dddddd;
  text-align: center;
}
.alt-link {
  text-decoration: none;
  color: #dddddd;
}
.alt-link:hover {
  text-decoration: underline;
  color: #f9f7d9;
}
.alt-link:hover .ustegeridon {
  background-color: #184759;
}
